{
  "overrides": [
    {
      "files": ["*.tsx"],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": ["*.scss", "*.ts"],
      "options": {
        "tabWidth": 4
      }
    }
  ],
  "trailingComma": "none"
}
